* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  skyblue;
}
#calculator {
    width: 264px;
    height: 334px;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
}
.calc-screen p {
    padding: 10px 26px 6px 0;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
.calc-table {
    margin: 0 auto;
}
button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    color: #666666;
    cursor: pointer;
}
button:hover {
    background-color: rgb(128,128,128);
    border: none;
}
.clear:hover {
    background-color: aqua;
}
.operator:hover {
    background-color: lightblue;
}
.num:hover {
    background-color: rgba(137, 43, 226, 0.582);
}
.equal {
    height: 106px;
}
.width {
    width: 106px;
}
footer {
    position: absolute;
    width: 100%;
    padding-top: 100px;
}
footer img {
    position: relative;
    width: 200px;
    animation-name: show;
    animation-duration: 6s;
    animation-iteration-count: infinite; 
    animation-play-state: running; 
    animation-timing-function: slidein;
}
@keyframes show {
    0% { 
        margin-left: 0%; 
    }  
    100% { 
        margin-left: 85%; 
    }
} 



